<h1>Update Employee</h1>

<%= render 'form', employee: @employee %>

<%= link_to 'Show', @employee, class:"btn btn-primary mt-2 mb-2" %>
<%= link_to '<< Back', employees_path, class:"btn btn-secondary mt-2 mb-2" %>
