<div class="jumbotron">
  <h1>About</h1>
  <p>Fave Ruby Technical Interview</p>
  <ul> 
    <li>to create a ruby function generate_monthly_payslip to compute a monthly payslip of an individual based on his annual salary with 2 decimal places with unit tests.</li>
    <li>Create a POST REST API request to expose your function. Request parameters should include employee_name and annual_salary. The response body should return JSON format. Add unit tests where you think its relevant.</li>
    <li>When compute monthly salary POST API is invoked, Then write the following information in a database of your choice, you can use any local or cloud database</li>
    <li>Create a GET API to list out all information from Requirement 3 on JSON Format</li>
    <li>[Extra] You can implement any feature related to the APIs you just created Some ideas:<br/>
       - Build a Simple UI Form to enter transactions<br/>
       - Generate a CSV<br/>
       - Add a Github Action to automate running the unit test<br/>
       - Hook a free CI<br/>
       - Deploy to Heroku I'll be more impressed if you do something else not listed on this list For this section you can invent your own requirment</li>
  </ul>
</div>