<div class="jumbotron">
  <h1>Payslip Application</h1>
  <p>Payslip application is mainly for generate income tax and generate payslips.</p>
  <%= image_tag ("background-finance.jpeg"), class: "img-responsive h-100 w-75" %>
</div>